<!-- 
            =======================
            Application Header
            =======================
-->
<header>
    <section class="container">

        <div class="logo">
            <a href="javascript:;">ZenduForms</a>
        </div>

        <nav>
            <ul>
                <li><a href="#" [routerLink]="['/forms']" [routerLinkActive]="'active'"><i><img
                                src="assets/images/menu_form_ico.svg" alt=""></i>Forms</a></li>
                <li><a href="#" [routerLink]="['/customers']" [routerLinkActive]="'active'"><i><img
                                src="assets/images/menu_customer_ico.svg" alt=""></i>Customers</a></li>
                <li><a href="#" [routerLink]="['/submissions']" [routerLinkActive]="'active'"><i><img
                                src="assets/images/menu_submissions_ico.svg" alt=""></i>Submissions</a>
                </li>
                <li><a href="#" [routerLink]="['/history']" [routerLinkActive]="'active'"><i><img
                                src="assets/images/menu_history_ico.svg" alt=""></i>History</a></li>
                <li><a href="#" [routerLink]="['/reports']" [routerLinkActive]="'active'"><i><img
                                src="assets/images/menu_report_ico.svg" alt=""></i>Reports</a></li>
                <li><a href="#" [routerLink]="['/workflow']" [routerLinkActive]="'active'"><i><img
                                src="assets/images/menu_workflow_ico.svg" alt=""></i>WorkFlow</a></li>
            </ul>
        </nav>

        <div>
            <a href="#" class="notification" title="Notification">
                <i><img src="assets/images/menu_notification_ico.svg" alt=""></i>
            </a>
            <a href="#" class="logout" title="Logout">
                <i><img src="assets/images/menu_logout_ico.svg" alt=""></i>
            </a>
        </div>

    </section> <!-- .container ends -->
</header><!-- header ends -->